#frontend {
  background: #0a1128;
  padding: 61px 0 0 0;
  .frontend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--block {
      h3 {
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 61px 0 100px 0;
        span {
          color: #a5a5a5;
        }
      }
      h1 {
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 0 0 50px 0;
      }
      p {
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 0 50px 0;
      }
      button {
        cursor: pointer;
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 25px 50px 25px 49px;
        border-radius: 10px;
        background: #044076;
        border: none;
        &:hover {
          background: none;
          border: #044076 2px solid;
          transform: scale(0.2s);
        }
      }
    }
    &--end {
      margin: 15% 15% 0 0;

      h3 {
        color: #fff;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 0 15px 0;
      }
      h2 {
        color: #fff;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0 0 60px 0;
      }
      h4 {
        color: #fff;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 0 15px 0;
      }
    }
  }
}

@media (max-width: 992px) {
  #frontend{
    .container{
      .frontend{
        &--block{
          h1{
            font-size: 33px;
          }
          p{
            font-size: 18px;
          }
        }
        &--end{
          margin: 21% 4% 0 0;
          h1{
            font-size: 19px;
          }
          h2{
            font-size: 19px;
          }
          h4{
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 856px) {
  #frontend {
    .container {
      .frontend {
        &--block {
          h3 {
            font-size: 12px;
          }
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 15px;
          }
          button {
            padding: 18px 34px 18px 34px;
            font-size: 13px;
          }
        }
        &--end {
          margin: 27% 9% 0 0;
          h3 {
            font-size: 16px;
          }
          h2 {
            font-size: 16px;
          }
          h4 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #frontend {
    .container {
      .frontend {
        &--block {
          h3 {
            font-size: 10px;
            padding: 0px 0 70px 0;
          }
          h1 {
            font-size: 23px;
            padding: 0 0 35px 0;
          }
          p {
            font-size: 11px;
            width: 100%;
          }
          button {
            font-size: 11px;
            padding: 15px 30px 15px 30px;
          }
        }
        &--end {
          margin: 12% 6% 0 0;
          h3 {
            font-size: 13px;
          }
          h2 {
            font-size: 14px;
            padding: 0 0 26px 0;
          }
          h4 {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #frontend {
    .container {
      .frontend {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        &--block {
          h3 {
            display: none;
          }
          h1 {
            font-size: 25px;
          }
          p {
            font-size: 13px;
          }
        }
        &--end {
          margin: 12% 61% 0 0;
          h3 {
            font-size: 14px;
          }
          h2 {
            font-size: 16px;
          }
          h4 {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 300px) {
  #frontend {
    .container {
      .frontend {
        &--block {
          h1 {
            font-size: 19px;
          }
          p {
            font-size: 14px;
            text-align: center;
          }
          button {
            font-size: 10px;
            padding: 13px 20px 13px 20px;
            margin: 0 0 0 49px;
          }
        }
        &--end {
          margin: 12% 35% 0 0;
        }
      }
    }
  }
}
