#article {
  font-family: sans-serif;
  background: #0a1128;
  padding-bottom: 270px;
  .article {
    p {
      color: #a5a5a5;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 39px 0;
      span {
        color: #fff;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    h1 {
      color: #fff;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      padding: 30px 0;
    }
    &--blocks {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0px;
      &__block {
        width: 360px;
        height: 340px;
        background: #ffffff;
        border-radius: 20px;
        font-family: Montserrat;
        margin: 20px 10px;
        img {
          padding-bottom: 12px;
          width: 100%;
        }
        span {
          color: #898989;
          font-size: 14px;
          font-weight: 500;
          padding-left: 17px;
          font-family: Montserrat;
        }
        h2 {
          color: #000;
          font-size: 16px;
          font-weight: 600;
          font-family: Montserrat;
          padding: 15px 17px;
          line-height: normal;
        }
        &--date {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          p1 {
            color: #044176;
            font-size: 15px;
            font-weight: 500;
            padding-left: 17px;
            display: flex;
            align-items: center;
          }
          p2 {
            color: #044176;
            font-size: 15px;
            font-weight: 500;

            padding-right: 17px;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1200px) {
  #article .article--blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 450px) {
    .container {
      width: 90%;
    }
    #article {
      .article {
        &--blocks {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          &__block {
            width: 290px;
            font-size: 20px;
            margin: 8px 15px;
            img {
              width: 100%;
            }
            &--date {
              display: flex;
              align-items: center;
              /* flex-direction: column; */
              justify-content: space-between;
              text-align: center;
            }

            p1 {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
