#material {
  background: #0a1128;
  padding: 50px 0;
  .matarial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--book {
      img {
        text-align: center;
        margin-left: 100px;
        // width: 120px;
        // height: 100px;
      }
      h1 {
        color: #fff;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 38px 0 35px 0;
        width: 330px;
      }
      p {
        text-align: center;
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .block {
    text-align: center;
    margin: 165px 0;
    img {
      width: 428px;
      height: 448px;
    }
    p {
      color: #a5a5a5;
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 500;
      padding: 20px 0;
    }
    h1 {
      color: #fff;
      font-family: Montserrat, sans-serif;
      font-size: 36px;
      font-weight: 700;
    }
    h4 {
      color: #fff;
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 400;
      padding: 20px 0;
    }
  }
}

@media (max-width: 1200px) {
  #material {
    .container {
      .matarial {
        &--book {
          p {
            font-size: 20px;
          }
          h1 {
            font-size: 23px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #material {
    .container {
      .matarial {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        &--book {
          img {
            width: 82px;
          }
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #material {
    padding: 1px 0;
    .container {
      .matarial {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        &--book {
          img {
            width: 18%;
            margin-left: 132px;
          }
          h1 {
            font-size: 16px;
            padding: 26px 0 22px 0;
          }
        }
        p {
          font-size: 13px;
        }
      }
    }
    .block {
      img {
        width: 338px;
        height: 381px;
      }
      p {
        font-size: 16px;
      }
      h1 {
        font-size: 24px;
      }
      h4 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 550px) {
  #material {
    .container {
      .matarial {
        p {
          font-size: 15px;
          padding: 0 0 30px 0;
        }
        &--block {
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #material {
    .container {
      .matarial {
        &--book {
        }
      }
      .block {
        img {
          width: 276px;
          height: 328px;
        }
        p {
          font-size: 14px;
        }
        h1 {
          font-size: 20px;
        }
        h4 {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 300px) {
  #material {
    .container {
      .matarial {
      }
      .block {
        img {
          width: 244px;
          height: 298px;
        }
        p {
          font-size: 12px;
        }
        h1 {
          font-size: 15px;
        }
        h4 {
          font-size: 12px;
        }
      }
    }
  }
}
