#application {
  background: #0a1128;
  padding: 150px 0;
  .application {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: sans-serif;
    &--title {
      h1 {
        color: #fff;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
      p {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 366px;
        padding: 25px 0;
      }
    }
    &--input {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      input {
        width: 670px;
        height: 57px;
        flex-shrink: 0;
        background: #18223f;
        border-radius: 10px;
        border: none;
        color: aliceblue;
        font-size: 20px;
        margin-bottom: 18px;
        outline: none;
        padding-left: 10px;
      }
      span {
        color: #b5b5b5;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      button{
        padding: 18px 90px;
        background: #034078;
        border: none;
        color: aliceblue;
        font-size: 15px;
        border-radius: 10px;
        font-weight: 600;
        &:focus{
          background: #3a6c9a;
        }        
      }
    }
  }
}





/////media//////




@media (max-width: 1200px) {
  #application .application--input input {
    width: 500px;
}
}
@media (max-width: 1040px) {
  #application .application--input input {
    width: 400px;
}
#application .application--title h1 {
  font-size: 30px;
}
#application .application--title p {
  font-size: 16px;
  width: 246px;
}
}
@media (max-width: 840px) {
  #application .application--input input {
    width: 350px;
}
#application .application--title h1 {
  font-size: 28px;
}
#application .application--title p {
  font-size: 13px;
  width: 206px;
}
}
@media (max-width: 670px) {
  #application .application {
    flex-wrap: wrap;
    justify-content: center;
}
}
@media (max-width: 420px) {
  #application .application--input input {
    width: 90%;
}
#application .application--title h1 {
  font-size: 25px;
}
#application .application--title p {
  font-size: 13px;
  width: 176px;
}
}