#header {
    background: rgb(10, 17, 40);
    backdrop-filter: blur(22px);
    padding: 30px 0px;
    position: sticky;
    top: 0;
    z-index: 10;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // gap: 70px;
  
      .active {
        color: #0272CE;
      }
  
      &--voitiAll {
        display: none;
  
        &__voiti {
          display: flex;
          align-items: center;
          gap: 15px;
  
          .voitiIcon {
            font-size: 30px;
            color: #FFFFFF;
          }
  
          button {
            border: 2px solid #034078;
            border-radius: 10px;
            padding: 10px 35px;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            background: none;
          }
          .p11{
            color: #FFFFFF;
            position: absolute;
            background: rgba(255, 0, 0, 0.85);
            border-radius: 50%;
            padding: 0 5px;
            font-size: 12px;
            margin: -23px 0 0 13px;
            display: none;
          }
        }
      }
  
      &--logo {
        display: flex;
        align-items: center;
  
        &__menu {
          margin-left: 80px;
  
          a {
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            color: #FFFFFF;
            padding: 0 15px;
          }
        }
      }
  
      &--podpis {
        margin: 0 50px 0 0;
        a {
          font-weight: 500;
          font-size: 17px;
          line-height: 20px;
          color: #FFFFFF;
        }
  
        button {
          background: #034078;
          border-radius: 5px;
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
          color: #FFFFFF;
          padding: 13px 43px;
          margin: 0 0 0 20px;
          cursor: pointer;
          border: none;
        }
      }
    }
  
    .spans {
      display: none;
      position: absolute;
      top: 28%;
      left: 90%;
      z-index: 9;
  
      .p1 {
        width: 35px;
        height: 3px;
        background: rgba(255, 255, 255, 0.85);
        margin: 5px 0;
        transition: .3s;
      }
  
      .p2 {
        width: 35px;
        height: 3px;
        background: rgba(255, 255, 255, 0.85);
        margin: 5px 0;
      }
  
      .p3 {
        width: 35px;
        height: 3px;
        background: rgba(255, 255, 255, 0.85);
        margin: 5px 0;
        transition: .3s;
      }
    }
  
    .burger {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      border-radius: 10px 0 0 10px;
      padding: 80px 40px;
      background: #002649;
  
      &--menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        a {
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 600;
        }
  
        &__podpisAll {
          &--podpis {
            display: flex;
            flex-direction: column;
  
            button {
              background: #034078;
              border-radius: 5px;
              color: #FFFFFF;
              padding: 8px;
              margin-top: 20px;
            }
          }
        }
  
        &__voitiAll {
          display: none;
          &--voiti {
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
              background: #034078;
              border-radius: 5px;
              color: #FFFFFF;
              padding: 8px;
              margin-top: 20px;
            }
  
            .voitiIcon {
              font-size: 23px;
            }
            .notific::after{
              display: none;
              content: "1";
              background: red;
              color: #FFFFFF;
              border-radius: 50%;
              padding: 0 5px;
              text-align: center;
              font-size: 12px;
              margin: 0 0 0 -5px;
            }
            .p12{
              color: #FFFFFF;
              position: absolute;
              background: rgba(255, 0, 0, 0.85);
              border-radius: 50%;
              padding: 0 4px;
              font-size: 8px;
              margin: -3px 0 0 13px;
              display: none;
            }
          }
        }
      }
    }
  }