#level{
    background: #0A1128;
    padding: 150px 0 ; 
    .level{
      text-align: center;
      h1{
        color: #FFF;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 0 0 50px 0;
      }
      p{
        color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 0 50px 0;
      }
    }
    .div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--dollar{
            color: #FFF;
            width: 500px;
            height: 460px;
            border-radius: 10px;
            background: #0A1128;
            box-shadow: -4px -3px 24px 0px #040B23, 6px 6px 14px -117px #132049;
            h3{
                color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 40px 0 10px 50px;
            }
            p{
                color: #FFF;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 0 35px 50px;
            }
            h1{
                color: #FFF;
    font-family: Montserrat;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 0 20px 50px;
            }
            &__btn{
                text-align: center;
                font-family: Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
    
                display: flex;
                align-items: center;
                justify-content: space-around;
                &--one{
                    font-size: 18px;
                    color: #FFF;
                    padding: 15px 20px;
                    border-radius: 3.273px;
                    border: none;
                    background: #1f3068;
                    margin: 0 0 0 35px;
                }
                &--two{
                    color: #FFF;
                    padding: 15px 45px;
                    font-size: 18px;
                    border-radius: 3.273px;
                    border: none;
                    background: #040B23;
                    border: #1f3068 solid 2px;
                    margin: 0 26px 0 0;    
                }
            }
        }
    }
}