body {
  margin: 0;
  font-family: -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: 'Montserat' sans-serif;
}
.container{
  margin: 0 auto;
  width: 1240px;
}
a{
  text-decoration: none;
  font-family: Montserrat,sans-serif;
}
