#slider{
    background: #0A1128;
    padding: 150px 0 ; 
    h1{
        color: #FFF;
font-family: Montserrat, sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
    }
    .slider{

          display: flex;
            overflow-x: scroll;
            gap: 20px;
            width: 80%;
            height: 350px;
            padding: 100px 0 30px 0;
            
                margin: 0 auto;
                &::-webkit-scrollbar{
                    display: none;
                }
        &--block{
        
            padding: 20px;
          background: #102146;
          position: relative;
          border-radius: 10px;
          
           h2{
            width: 450px;
            color: #FFF;
font-family: Montserrat, sans-serif;
font-size: 29px;
font-weight: 600;
padding: 62px 0 15px 100px;
           }
    p{
        color: #FFF;
text-align: center;
font-family: Montserrat, sans-serif;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 22px; 
    }
    h4{
        color: #FFF;
text-align: center;
font-family: Montserrat, sans-serif;
font-size: 18px;
font-weight: 600;
margin: 25px 0 0 290px;
    }
            img{
             width: 100px;
                position: absolute;
                top: -50px;
                left: 210px;
            }
        }
    }
}